 <!-- Start Product -->
        <!-- Start Content-->
        <div class="mim">
            <main>
                <h2> STEEL SHEET </h2>
                <div class="hes-gallery">
                    <div class=""><a href="final-1-1.html"><img src="assets/images/sheet/short/hot-sheet.jpg" alt="" data-fullsize="images/sheet/hot-sheet.jpg"></a>
                        <h6>hot steel sheet</h6>
                    </div>
                    <div class=""><a href="final-1-1.html"><img src="assets/images/sheet/short/cold-sheet.jpg" alt="" data-fullsize="images/sheet/cold-sheet.jpg"></a>
                        <h6> cold steel sheet</h6>
                    </div>
                    <div class=""><a href="final-1-1.html"><img src="assets/images/sheet/short/galvanize-sheet.jpg" alt="" data-fullsize="images/sheet/galvanize-sheet.jpg"></a>
                        <h6>galvanize steel sheet</h6>
                    </div>
                    <div class=""><a href="final-1-1.html"><img src="assets/images/sheet/short/diamond-sheet.jpg" alt="" data-fullsize="images/sheet/diamond-sheet.jpg"></a>
                        <h6>diamond steel sheet</h6>
                    </div>




                    <div class=""><a href="final-1-1.html"><img src="assets/images/sheet/short/hardox.jpg" alt="" data-fullsize="images/sheet/hardox.jpg"></a>
                        <h6>hardox steel sheet</h6>
                    </div>

                    <div class=""><a href="final-1-1.html"><img src="assets/images/sheet/short/gret.jpg" alt="" data-fullsize="images/sheet/gret.jpg"></a>
                        <h6>gret 70 steel sheet</h6>
                    </div>


                    <div class=""><a href="final-1-1.html"><img src="assets/images/sheet/short/t5nat.jpg" alt="" data-fullsize="images/sheet/t5nat.jpg"></a>
                        <h6> big steel sheet</h6>
                    </div>


                </div>
            </main>
        </div>

        <!-- End Content -->
        <!-- End Product-->

