<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body">
        </div>
    </div>
</div>
<div class="py-2 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 d-none d-lg-block">
                <a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span>   01000105923 </a>
                <a href="#" class="small mr-3"><span class="icon-envelope-o mr-2"></span> info@lashensteel.com</a>
            </div>

        </div>
    </div>
</div>
<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="d-flex align-items-center">
            <div class="site-logo">
                <a href="index.html" class="d-block">
      <img src="assets/images/logo-lasheen/3.jpg" alt="Image" class="img-fluid">
    </a>
            </div>
            <div class="mr-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="index.html" class="nav-link">Home</a></li>
                        <li><a routerLink="/page" routerLinkActivate="Active" class="nav-link">About Us</a></li>
                        <li class="has-children">
                            <a routerLink="/product" routerLinkActivate="Active"  class="nav-link">Products</a>
                            <ul class="dropdown">
                                <li class="has-children">
                                    <a routerLink="/steel" routerLinkActivate="Active"> Steel </a>
                                    <ul class="dropdown">
                                        <li><a routerLink="/sheet" routerLinkActivate="Active">Steel Sheet</a>
                                        </li>
                                        <li><a routerLink="/coil" routerLinkActivate="Active"> Steel Coils</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-children">
                                    <a routerLink="/section" routerLinkActivate="Active"> Sections</a>
                                    <ul class="dropdown">
                                        <li><a routerLink="/channel" routerLinkActivate="Active">Channel</a>
                                        </li>

                                        <li><a routerLink="/pipe" routerLinkActivate="Active">Pipes</a>
                                        </li>
                                        <li><a routerLink="/angle" routerLinkActivate="Active">Angles</a> </li>
                                        <li><a routerLink="/flatbar" routerLinkActivate="Active">Flat bar</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a routerLink="/video" routerLinkActivate="Active" class="nav-link">Video</a></li>
                        <li><a routerLink="/client" routerLinkActivate="Active" client class="nav-link">Clients</a></li>
                        <li><a routerLink="/contact" routerLinkActivate="Active" class="nav-link">Contact</a></li>


                        
                        <li><a routerLink="/registration" routerLinkActivate="Active" class="nav-link">registration</a></li>
                    </ul>
                </nav>
            </div>
            <div class="ml-auto">
                <div class="social-wrap">
                    <a href="https://www.facebook.com/Lashen-steel-1420689871565241/"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-linkedin"></span></a>

                    <a href="" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
        class="icon-menu h3"></span></a>
                </div>
            </div>

        </div>
    </div>

</header>
