
        <div class="section-bg vyvy style-1" style="background-image: url('images/body/1.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="section-title-underline style-2">
                            <span>About Us  </span>
                        </h2>
                    </div>
                    <div class="col-lg-8">
                        <p class="lead">Lashen Steel is one of the largest and oldest companies working in the field of iron trade (cold iron sheet, hot iron sheet, pickled iron sheet, galvanized iron sheet, iron sheet iron).

                        </p>
                        <p>(Sizes of all sizes - iron pipes - iron wicker - iron angles - iron beams).

                        </p>
                        <p>The main objective of the company is to provide all the needs of companies and factories from the raw materials needed to complete the manufacturing process at the highest quality and the lowest prices. - Russia - Ukraine - China - Morocco - Italy.</p>


                        <p>This is in addition to our dealings with national companies. We are distributors of Dekheila Iron, Egyptian Iron and Steel and a number of other companies. Access to competition at all levels and we thank God for the confidence of our customers to us throughout the period of our work took the circle of customers and business in the widening and supplying to you, for example, but not limited to the large companies dealing with us.</p>
                    </div>
                </div>
            </div>
        </div>
