<div class="section-bg style-1" style="background-image: url('assets/images/body/1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="section-title-underline style-2">
                    <span>About Us </span>
                </h2>
            </div>
            <div class="col-lg-8">
                <p class="lead">Lashen Steel is one of the largest and oldest companies working in the field of iron
                    trade (cold iron sheet, hot iron sheet, pickled iron sheet, galvanized iron sheet, iron sheet iron).

                </p>
                <p>(Sizes of all sizes - iron pipes - iron wicker - iron angles - iron beams).

                </p>
                <p><a routerLink="/page" routerLinkActivate="Active" class="btn btn-danger ">Read more</a></p>
            </div>
        </div>
    </div>
</div>