 <!-- Start Product -->
 <div class="prod-bg vyvy">
    <div class="prod-title">
        <h1>Steel </h1>
    </div>
    <div class="container">
        <main class="grid">
            <article>
                <img src="assets/images/product/sheet.jpg" alt="Sample photo">
                <div class="text">
                    <h3>Steel Sheet</h3>
                    <p>Collaboratively </p>
                    <a routerLink="/sheet" routerLinkActivate="Active"  class="btn btn-danger btn-block">More</a>
                </div>
            </article>



            <article>
                <img src="assets/images/product/coil.jpg" alt="Sample photo">
                <div class="text">
                    <h3>Steel coils</h3>
                    <p>Collaboratively </p>
                    <a routerLink="/coil" routerLinkActivate="Active" class="btn btn-danger btn-block">More</a>
                </div>
            </article>


        </main>
    </div>
</div>

<!-- End Product-->