<div class="all">
    <div class="all-head">
        <h1>Client</h1>
    </div>
    <table>
        <thead>

        </thead>
        <tbody>
            <tr>
                <td data-column="company">Toshiba Arab Company</td>
                <td data-column="company ">Arab Company for Steel Industries</td>
                <td data-column="company ">EGYPT TECH cables Company</td>
                <td data-column="company">El Sewedy Company For Electrical Industries</td>
            </tr>
            <tr>
                <td data-column=" company">Orascom Group of Companies</td>
                <td data-column="company ">ASEC Company for Manufacturing and Industrial Projects</td>
                <td data-column="company ">Caravan Middle East Company</td>
                <td data-column="company">National Construction Company</td>
            </tr>
            <tr>
                <td data-column="company ">Emco Lighting Company</td>
                <td data-column="company ">Sigma M Company</td>
                <td data-column="company ">Atlantic Boils Company </td>
                <td data-column="company">Industrial Control Company</td>
            </tr>
            <tr>
                <td data-column="company ">The Arab Contractors (Othman Ahmad Othman)</td>
                <td data-column="company ">Vero Metalco Company</td>
                <td data-column="company ">Al - Deeb company for Engineering Works</td>
                <td data-column="company">Egyptian Swiss Company</td>
            </tr>
            <tr>
                <td data-column="company ">Master For Metal Constructions</td>
                <td data-column="company ">El Sewedy Company For Food Industries</td>
                <td data-column="company ">Hassan Allam Sons Contracting Company</td>
                <td data-column="company">France Metal Company</td>
            </tr>

            <tr>
                <td data-column="company ">Stander Industrial Company Nova</td>
                <td data-column="company ">Zamil Steel Company</td>
                <td data-column="company "> Techno Metal Company </td>
                <td data-column="company "> Trast Company </td>

            </tr>
        </tbody>
    </table>
</div>

