  <!-- Start Product -->
        <div class="mim">
            <main>
                <h2> STEEL COILS </h2>
                <div class="hes-gallery">
                

                    <div class=""><a href="final-1-1.html"><img src="assets/images/coils/short/12.jpg" alt="" data-fullsize="images/coils/12.jpg"></a>
                        <h6>COLORED COILS</h6>
                    </div>
                    <div class=""><a href="final-1-1.html"><img src="assets/images/coils/short/hot.jpg" alt="" data-fullsize="images/coils/hot.jpg"></a>
                        <h6>HOT STEEL COILS</h6>
                    </div>
                    <div class=""><a href="final-1-1.html"> <img src="assets/images/coils/short/cold.jpg" alt="" data-fullsize="images/coils/cold.jpg"></a>
                        <h6>COLD STEEL COILS</h6>
                    </div>

                    <div class=""><a href="final-1-1.html"><img src="assets/images/coils/short/galvanize.jpg" alt="" data-fullsize="images/coils/galvanize.jpg"></a>
                        <h6>GALVANIZE STEEL COILS</h6>
                    </div>
                    <div class=""><a href="final-1-1.html"><img src="assets/images/coils/short/11.jpg" alt="" data-fullsize="images/coils/11.jpg"></a>
                        <h6>Diamond STEEL COILS</h6>
                    </div>
                    <div class=""><a href="final-1-1.html"><img src="assets/images/coils/short/pickled.jpg" alt="" data-fullsize="images/coils/pickled.jpg"></a>
                        <h6>Pickled STEEL COILS</h6>
                    </div>

                  
                </div>
            </main>
        </div>

        <!-- End Product-->

