  <!-- Start Product -->
  <div class="prod-bg">
    <div class="prod-title">
        <h1>Product</h1>
    </div>
    <div class="container">
        <main class="grid">
            <article>
                <img src="assets/images/product/sheet.jpg" alt="Sample photo">
                <div class="text">
                    <h3>Sheets</h3>
                    <p> Cold - Hot - Diamond - Galzanized </p>
                    <a routerLink="/sheet" routerLinkActivate="Active" class="btn btn-danger btn-block">More</a>
                </div>
            </article>

            <article>
                <img src="assets/images/product/coil.jpg" alt="Sample photo">
                <div class="text">
                    <h3>Coils</h3>
                    <p>Galvanized - Cold - Hot - Colored - Diamond</p>
                    <a routerLink="/coil" routerLinkActivate="Active" class="btn btn-danger btn-block">More</a>
                </div>
            </article>

            <article>
                <img src="assets/images/product/section.jpg" alt="Sample photo">
                <div class="text">
                    <h3>Section</h3>
                    <p>(channel - pipes - flatbar - angles)</p>
                    <a routerLink="/section" routerLinkActivate="Active" class="btn btn-danger btn-block">More</a>
                </div>
            </article>
        </main>
    </div>
</div>
<!-- End Product-->