   <!-- Start Content-->
   <div class="mim">
    <main>
        <h2> Channel </h2>
        <div class="hes-gallery">
            <div class=""><a href="final-1-1.html"><img src="assets/images/section/h-section/short/1.jpg" alt="" data-fullsize="images/section/h-section/1.jpg"></a>
                <h6> hea </h6>
            </div>
            <div class=""><a href="final-1-1.html"><img src="assets/images/section/h-section/short/heb.jpg" alt="" data-fullsize="images/section/h-section/heb.jpg"></a>
                <h6> heb </h6>
            </div>
        </div>
    </main>
</div>

<!-- End Content -->