 <!-- Start Content-->
 <div class="mim">
    <main>
        <h2> FLATBAR </h2>
        <div class="hes-gallery">

            <div class=""><a href="final-1-1.html"><img src="assets/images/flat-bar/short/1.jpg" alt="" data-fullsize="images/flat-bar/1.jpg"></a>
                <h6>flatbar </h6>
            </div>
            <div class=""><a href="final-1-1.html"><img src="assets/images/flat-bar/short/2.jpg" alt="" data-fullsize="images/flat-bar/2.jpg"></a>
                <h6>flatbar </h6>
            </div>
            <div class=""><a href="final-1-1.html"><img src="assets/images/flat-bar/short/3.jpg" alt="" data-fullsize="images/flat-bar/3.jpg"></a>
                <h6>flatbar </h6>
            </div>


        </div>
    </main>
</div>

<!-- End Content -->