   <!-- Start Content-->
   <div class="mim">
    <main>
        <h2> ANGLES </h2>
        <div class="hes-gallery">

            <div class=""><a href="final-1-1.html"><img src="assets/images/angles/short/1.jpg" alt="" data-fullsize="images/angles/1.jpg"></a>
                <h6> angles</h6>
            </div>
            <div class=""><a href="final-1-1.html">
                    <img src="assets/images/angles/short/2.jpg" alt="" data-fullsize="images/angles/2.jpg"></a>
                <h6>angles </h6>
            </div>
            <div class=""><a href="final-1-1.html">
                        <img src="assets/images/angles/short/3.jpg" alt="" data-fullsize="images/angles/3.jpg"></a>
                <h6> angles</h6>
            </div>
            <div class=""><a href="final-1-1.html">
                            <img src="assets/images/angles/short/4.jpg" alt="" data-fullsize="images/angles/4.jpg"></a>
                <h6> angles</h6>
            </div>
        </div>
    </main>
</div>

<!-- End Content -->